<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">

<div layout:fragment="content">
<form th:action="@{/ACLR/Report}" th:object="${aclrForm}" method="post">
<table width="100%">
<tr>
	<td width="200px">Submission Date</td>
	<td><input th:field="*{clrSubmittedDate}" class="datepicker"/></td>
	
</tr>
<tr>
	<td><input type="submit" name="btnSubmit" value="Submit"/> </td>
	<td></td>
</tr>

</table>
<div th:text="${prevDate}"></div>
<hr/>
<table width="100%" border="1px solid ">
	<tr>
	<th>Queue</th>
	<th>Total</th>
	</tr>
	<tr th:each="clr : ${listPrev}">
		<td><div th:text="${clr.qprmName} +'(' + ${clr.clrPrmid} + ')'"></div> </td>
		<td><div th:text="${clr.total}"></div> </td>
	</tr>
</table>
<hr/>
<div th:text="${clrSubmittedDate}"></div>
<table width="100%" border="1px solid ">
	<tr>
	<th>Queue</th>
	<th>Total</th>
	</tr>
	<tr th:each="clr : ${list}">
		<td><div th:text="${clr.qprmName} +'(' + ${clr.clrPrmid} + ')'"></div> </td>
		<td><div th:text="${clr.total}"></div> </td>
	</tr>
</table>
</form>
</div>


  
</html>
