<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">

<div layout:fragment="content">
<table width="100%" border="1px solid ">
	<tr>
	<th>Staff ID</th>
	<th>Staff Name</th>
	<th>Action</th>
	<th>Total</th>
	</tr>
	<tr th:each="clr : ${list}">
		<td><div th:text="${clr.judgeBy}"></div> </td>
		<td><div th:text="${clr.userName}"></div> </td>
		<td><div th:text="${clr.judgeAction}"></div> </td>
		<td><div th:text="${clr.total}"></div> </td>
	</tr>
	<tr>
		<td colspan="3"></td>
		<td th:text="${#aggregates.sum(list.![total])}"></td>
	</tr>
</table>
</div>

</html>
